@import "~react-big-calendar/lib/css/react-big-calendar.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(222, 235, 235);
  padding: 20px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 400px;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 4;

  h2 {
    text-align: center;
  }
  div {
    .event-form-button {
      padding: 10px 25px;
      border: none;
      border-radius: 8px;
      margin-bottom: 10px;
    }
  }
  input {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
  }

  .event-form-button:hover {
    cursor: pointer;
    background-color: lightgray;
  }
}
.close-button {
  background-color: inherit;
  font-size: 24px;
  color: red;
  position: absolute;
  border: none;
  top: 5px;
  right: 5px;
}
.close-button:hover {
  cursor: pointer;
  background-color: aqua;
}

/* .custom-overlay {
  background-color: rgba(0, 0, 0, 0.5);
} */

.form__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}
.datepicker-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.del-button {
  background-color: orangered;
}
.update-event {
  background-color: yellow;
}
.add-event {
  background-color: green;
}
.calendar {
  height: 1000px;
}
.rbc-toolbar {
  padding-top: 15px;
  background-color: #f1f5f8;
}
.rbc-toolbar-label {
  font-size: 36px;
  background-color: #f1f5f8;
}
.rbc-btn-group {
  padding: 15px;
  background-color: #2764f1;
  border: none;
}
.rbc-btn-group > button {
  padding: 15px 25px;
}
.rbc-header {
  padding: 10px 0 !important;
}
.rbc-day-bg {
  background-color: #f1f5f8;
}
.rbc-off-range-bg {
  background-color: grey;
}
