.rbc-toolbar {
  padding-top: 15px;
  background-color: #f1f5f8;
}

.rbc-toolbar-label {
  font-size: 36px;
  background-color: #f1f5f8;
}

.rbc-active {
  background-color: #85ffbd !important;
  filter: brightness(80%);
}

.rbc-header {
  padding: 10px 0 !important;
}

.rbc-day-bg {
  border: 1px solid lightcyan;
  background-color: #f1f5f8;
}

.rbc-off-range-bg {
  border: 1px solid gray;
  background-color: lightgrey;
}

.rbc-event {
  background-color: #7cb9e8;
}

.rbc-event .rbc-selected {
  background-color: #000c18 !important;
}

.rbc-toolbar,
.rbc-toolbar-label {
  background-color: #8ec5fc;
}

.rbc-day-bg.past-day {
  background-color: #e3e9fd;
}

.past-day {
  background-color: #e3e9fd;
}

.rbc-header {
  background-color: lightgrey;
}

.rbc-day-bg.today {
  background-color: #85ffbd;
}
